Checks: >
   modernize-*,
   -modernize-use-trailing-return-type,
   performance-*,
   bugprone-*,
   -bugprone-easily-swappable-parameters,
WarningsAsErrors: ''
HeaderFilterRegex: 'code/.*'
FormatStyle: file
CheckOptions: []